<app-nav-bar></app-nav-bar>

<div class="main-content">
    <div class="container" style="max-width: 1200px;">
        <app-carrousel></app-carrousel>
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" >Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">

        
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


 <app-blog-cards></app-blog-cards>