<app-nav-bar></app-nav-bar>


      <div *ngFor="let blogDetails of blogs" class="col-md-12">

        <div class="container" *ngIf="blogDetails">
          <div class="card p-5">
              <div class="container-fluid">
                  <div class="row">
                      <div class="preview col-md-6">
      
                          <div class="preview-pic tab-content">
                              <div class="tab-pane active" id="pic-1">
                                  <img [src]="blogDetails.imageUrl" class="img-fluid" />
                              </div>
                          </div>
                      </div>
                      <div class="details col-md-6">
                          <h3 class="price">Title: <span class="price pt-1">{{blogDetails.title}}</span></h3>
                          <p class="product-description">{{blogDetails.content}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
