<app-nav-bar></app-nav-bar>

<div class="main-content">
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <h3 class="card-title">Contact</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="messageService.formModel">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="messageService.formModel.get('email').hasError('required') && messageService.formModel.get('email').touched">This field should not be empty.</mat-error>
            <mat-error *ngIf="messageService.formModel.get('email').hasError('email')">This field should not be valid email.</mat-error>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Subject" formControlName="subject">
            <mat-error *ngIf="messageService.formModel.get('subject').hasError('required') && messageService.formModel.get('subject').touched">This field should not be empty.</mat-error>
        </mat-form-field>

      <mat-form-field>
            <textarea  matInput class="form-control"  formControlName="content"
              rows="3" placeholder="Enter Message"></textarea>
              <mat-error *ngIf="messageService.formModel.get('content').hasError('required') && messageService.formModel.get('content').touched">This field should not be empty.</mat-error>
          </mat-form-field>
        </form>
        <button type="submit" class="btn btn-outline-info" (click)="onSubmit()" [disabled]="messageService.formModel.invalid">Send Message</button>
      </div>
    </div>

  </div>
</div>