<div class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Blogs List</h3>
        <div class="card-deck row">
            <div *ngFor="let blog of blogs" class="col-md-4">
                <div class="card">
                    <img class="card-img-top img-fluid" [src]="blog.imageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{blog.title}}</h5>
                        <p class="card-text">{{blog.content}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Creation Date{{blog.createdAt | date : 'medium'}}</small>
                    </div>
                </div>
            </div>
        </div>
        <a routerLink="/blog/list" class="btn btn-outline-info mt-5">See All Blogs</a>
    </div>
</div>